.btn-info {
	background-color:lavender;
}

.btn-info:hover {
	background-color:purple;
}

.btn-info:focus{
	background-color:purple !important;
}
.jumbotron {
	color:white;
}
/* Background classes
======================= */
.computer-bg {
	background-image: url("../images/laptop.jpeg");
	background-size:cover;
	background-position: center;